<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malicious Website Detector</title>
    <link rel="stylesheet" href="static/styles1.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Epilogue&display=swap">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sacramento&family=VT323&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Jura' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Nothing You Could Do' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href = "simplelightbox-master/dist/simple-lightbox.css">
</head>
  <style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-image: url('static/images/2150533981.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; /* Ensure the body covers the entire viewport height */
        margin: 0; /* Remove default margin */
    }
  </style>
<body>
  
    <div class="title">Malicious Website Detector</div>
    <form action="/check" method="get">
      <button class="button-50" role="button">CHECK</button>
    </form>

    <form action="/pred" method="get">
        <button type="submit" class="swipe">Feature Extraction Analytics
            <span class="container">
                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path>
                </svg>
            </span>
        </button>
    </form>
</body>
</html>